
    
    <div class="submitCont">
		<div class="successCont2">
			<img src="__PUBLIC__/home/images/ESS_icon01.png">
			<h1>UWEGO {$onelist.activname}</h1>
			<h1>预约详情!</h1>
		</div>

		<div class="submitText1">
			<ul>
				<!--<li class="flex-display flex-alignC">-->
					<!--<div class="name">-->
						<!--门锁密码：-->
					<!--</div>-->
					<!--<div class="info flex-flex1">-->
						<!--{$onelist.doornum}-->

						<!--<if condition=" ($onelist['status'] eq 1) ">-->
							<!--（{$onelist.accesshours}&#45;&#45;{$onelist.accessendhours}有效）-->
							<!--<elseif condition=" $onelist['status'] eq 3 "/>-->
							<!--（已签到）-->
						<!--</if>-->
					<!--</div>-->
				<!--</li>-->
				<li class="flex-display flex-alignC">
					<div class="name">
						预约活动：
					</div>
					<div class="info flex-flex1">
						{$onelist.activname}
					</div>
				</li>
			</ul>
		</div>
		<div class="submitText1">
			<ul>
				<li class="flex-display flex-alignC">
					<div class="name">
						活动时间：
					</div>
					<div class="info flex-flex1">
						{$onelist.yuyuemonth}&nbsp;{$onelist.yuyuehours}-{$onelist.yuyueendhours}
					</div>
				</li>
			</ul>
		</div>

		<div class="indexTitle" style="margin-top:-1px;">
			注意事项
		</div>

		<div class="submitText2" style="border-bottom:none;">
			<if condition="($onelist['status'] eq 1) or ($onelist['status'] eq 2)">
				{$onelist.notice}
				<elseif condition="$onelist['status'] eq 3" />
				<p>照照镜子会让你感觉倍儿爽</p>
			</if>
		</div>
        
        
    </div>
    



<script>
jQuery(document).ready(function(e) {


		$(".loading").hide();
});
</script>
