
<script>
	/*
	 * 注意：
	 * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
	 * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
	 * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
	 *
	 * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
	 * 邮箱地址：weixin-open@qq.com
	 * 邮件主题：【微信JS-SDK反馈】具体问题
	 * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
	 */
	wx.config({
		debug: false,
		appId: '{$signPackage.appId}',
		timestamp: '{$signPackage.timestamp}',
		nonceStr: '{$signPackage.nonceStr}',
		signature: '{$signPackage.signature}',
		jsApiList: [
			'checkJsApi',
			'chooseWXPay',
			'getLocation',
			'openLocation',
		]
	});
</script>

	<div class="indexCont">
		<if condition="$user.exercise_msg eq 1">
			<div class="toptip" style=" background-color:#1a1a1a;">
				<span>您已经超过一周没有锻炼了噢~</span>
			</div>
		</if>
		<div class="topCont">
			<a class="fl">离我最近</a><a data-href="{$shop.mapurl}" onclick="look_map('{$shop.focusName}','{$shop.focusAddr}','{$shop.option}')">查看地图&gt;</a>
		</div>
		<div class="focusCont">
			<a  onclick="isopen_jump(this);" data-url="{$shop.focusUrl}" data-status="{$shop.status}"><img src="{$shop.focusImg}"></a>
			<div class="text">
				<h1><a onclick="isopen_jump(this);" data-url="{$shop.focusUrl}"  data-status="{$shop.status}">{$shop.focusName}</a></h1>
				<p><a onclick="isopen_jump(this);" data-url="{$shop.focusUrl}"  data-status="{$shop.status}">{$shop.focusaddress}</a></p>
				<!--<b class="favourBtn {{if favour}}curr{{/if}}"><img class="nimg" src="__PUBLIC__/home/images/favour.png"><img class="himg" src="__PUBLIC__/home/images/favour_h.png"></b>-->
				<div class="focusBtn">
					<div style="position:relative;">
						<if condition="$vip_status.status eq 1">
							<a href="javascript:;">自助预约</a>
							<ul data-id="{$shop.id}" class="treelist" style="display:none;"></ul>
						<else/>
							<a data-href="{:U('submit')}" onclick="tips('{$vip_status.msg}')">自助预约</a>
						</if>
					</div>
				</div>
			</div>
		</div>
		<!--<input type="hidden" id="shop_near_id" value="{$shop.id}" />-->
		<input type="hidden" id="hid_type_to" value="1" />
		<!--<div class="focusBtn">-->
		<!---->
				<!--<a data-href="{:('submit')}" onclick="">自助预约</a>-->
				<!--<ul id="treelist" style="display:none;"></ul>-->
			<!---->
		<!--</div>-->

		<div class="indexTitle">
			更多选择
		</div>
		<div class="indexList">
			<ul id="eventContent">
				<volist name="morelist" id="vo" >
				<li>
					<a onclick="isopen_jump(this);" data-url="{$vo.focusUrl}" data-status="{$vo.status}"><img src="{$vo.focusImg}" ></a>
					<div class="text">
						<h1><a onclick="isopen_jump(this);" data-url="{$vo.focusUrl}" data-status="{$vo.status}">{$vo.focusName}</a></h1>
						<p><a onclick="isopen_jump(this);" data-url="{$vo.focusUrl}" data-status="{$vo.status}">{$vo.focusaddress}</a></p>
						<!--<b class="favourBtn {{if value.favour}}curr{{/if}}"><img class="nimg" src="__PUBLIC__/home/images/favour.png"><img class="himg" src="__PUBLIC__/home/images/favour_h.png"></b>-->
						<div class="focusBtn">
							<div style="position:relative;">
								<if condition="$vip_status.status eq 1">
									<a href="javascript:;">自助预约</a>
									<ul data-id="{$vo.id}" class="treelist" style="display:none;"></ul>
									<else/>
									<a data-href="{:U('submit')}" onclick="tips('{$vip_status.msg}')">自助预约</a>
								</if>

							</div>
						</div>
					</div>
				</li>
				</volist>
			</ul>
		</div>






		<div class="indexAD">
			<div class="closeBtn">
				<img src="__PUBLIC__/home/images/close_AD.png">
			</div>
			<div class="ADCont">
				<a href="#">
					{$notice.content}
					<!--<img src="__PUBLIC__/home/uploadfile/images/AD01.jpg">-->
					<!--<h1>肌动活动推送大标题</h1>-->
					<!--<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>-->
				</a>
			</div>
		</div>
        
    </div>
	<div class="bottomBlank"></div>
	<div class="loading2">
		<b></b>
	</div>
<script>

//判断是否已营业
	function isopen_jump(obj){
		var isopen=$(obj).data('status');
		if (isopen==1){
			var url=$(obj).data('url');
			$.ajax({
				url : url,
				type : 'POST',
				dataType : 'html',
				data : {'ajax' : 1},
				success : function(rdata) {
					$(".loading").hide();
					history.pushState(null,'',url)
					$(".contain").html(rdata);
				},
			});
		}else {
			tips('即将营业，敬请期待！');
		}
	}
var is_end=1;//判断是否加载完成
var DStatus = 1; //判断是否加载完
var page=2;//页数
function look_map(name,addr,option){
	var option=option.split(",")
	var latitude =parseFloat(option[0]);
	var longitude =parseFloat(option[1]);
	wx.ready(function () {
		wx.openLocation({
			latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
			longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
			name: name, // 位置名
			address: addr, // 地址详情说明
			scale: 14, // 地图缩放级别,整形值,范围从1~28。默认为最大
			infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
		});
	})
}
//异步加载数据
function ajax_shop(pagenum){

	$.ajax({
		type: 'POST',
		url: "{:U('Index/ajax_shop')}" ,
		data: {ajax:1,page:pagenum} ,
		dataType:"html" ,
		success: function(data){
			is_end=1;
			if(data.length ==0 ){
				DStatus = 0;
//				tips('没有更多了！');
				$(".loading2").hide();
			}else{
				$(".loading2").hide();
				$("#eventContent").append(data);
				page++
			}
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			tips('服务器连接异常');
		}
	});
}

$(function(e) {



	 is_end = 1;//判断是否加载完成
	 DStatus = 1; //判断是否加载完
	 page = 2;//页数
	$(".toptip").click(function(){
		$(this).hide();
	})
	var firstlogin={$notice.is_show};
	if (firstlogin==1){
		var indexAD = layer.open({
			title :'',
			closeBtn : 0,
			type : 1,
			content : $(".indexAD"),
			skin : 'ADLayer'
		});

		setTimeout(function(){
			layer.close(indexAD);
		},5000)
	}

	$(".closeBtn img").click(function(){

		layer.close(indexAD);

	});
	$(".loading").hide();
	$(".favourBtn").click(function(){
		if($(this).hasClass("curr")) {
			$(this).removeClass("curr");
		}else{
			$(this).addClass("curr");
		}
	});
	var range = 0;             //距下边界长度/单位px
	var totalheight = 0;                   //主体元素
	$(window).unbind("scroll");
	$(window).scroll(function(){
		var srollPos = $(window).scrollTop();  //滚动条距顶部距离(页面超出窗口的高度
		totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
		if(($(document).height()-range) <= totalheight  && DStatus == 1 && is_end==1) {
			$(".loading2").show();
			is_end=0;
			ajax_shop(page);
		}
	});
});

</script>
<script>
	$(function(){
		//时间插件设定部分
		var weekday = ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'];
		var html2 ;
		var ia , ib , ic;
		var openHour ;
		var day0 = 0;
		var times = function(){
			for(var i2 = 0; i2<24; i2 ++)
			{
				if(day0 == 0 && i2<ib)
				{

				}else if(i2==ib && ic>50)
				{

				}
				else
				{
					html2+='<li data-val="'+i2+'">'+(i2<7?'凌晨':i2<10?'早上':i2<12?'上午':i2<14?'中午':i2<19?'下午':'晚上')+(i2<10?'0'+i2:i2)+'点<ul>';
					for(var i3 =0; i3<60; i3+=10)
					{
						if(day0 == 0 && i3<ic && i2==ib)
						{

						}
						else
						{
							html2+='<li data-val="'+i3+'">'+(i3<10?'0'+i3:i3)+'分</li>';
						}
					}
					html2+='</ul></li>';
				}
			}
		}
		var setList = function(){
			html2 = '';
			var dd2 = new Date();

			ib = dd2.getHours();
			ic = dd2.getMinutes();

			for(var i = 0; i<=2 ; i++)
			{
				var dd = new Date();
				dd.setDate(dd.getDate()+i);
				var y = dd.getFullYear();
				var m = dd.getMonth()+1;
				var d = dd.getDate();
				var dy = dd.getDay();
				day0 = i;

				if(i==0)
				{
					html2 += '<li data-val="'+(y+'-'+m+'-'+d)+'">今天<ul>';
					openHour = dd.getHours();
				}
				else
				{
					html2 += '<li data-val="'+(y+'-'+m+'-'+d)+'">'+(m+'月'+d+'号 '+weekday[dy])+'<ul>';
				}
				times();
				html2+='</ul></li>';
			}

			jQuery(".treelist").html('').append(html2);
		}
		//时间插件设定部分结束
//时间插件执行部分
		setList();

		$(".treelist").mobiscroll().treelist({
			theme: "ios",
			lang: "zh",
			display:'bottom',
			placeholder: '',
			height:40,
			headerText: function (valueText) { return "选择预约时间"; },
			onBeforeShow:function(inst){
				setList();

			},
			circular:[false,false,false],
			onSet:function(valueText,inst){
				var shopid=$(this).data('id');
				gotonext(valueText.valueText,"{:U('Index/index_shop')}",shopid);
			},

		});
	})
	function check_tel(table){
		var tel='{$user.tel}'
		if(!tel){
			var url="{:U('vip/bind_tel')}";
			$.ajax({
				url : url,
				type : 'POST',
				dataType : 'html',
				data : {'ajax' : 1,table:table},
				success : function(rdata) {
					layer.closeAll();
					history.pushState(null,'',url)
					$(".contain").html(rdata);
				},

			});

			return false;
		}
	}
</script>

